<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.test.mvinfc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.pax.permission.PICC" />
    <uses-permission android:name="com.pax.permission.PRINTER" />
    <uses-permission android:name="com.pax.permission.AIDL" />

    <queries>
        <package android:name="com.pax.ipp.neptune" />
        <package android:name="com.ezetap.service.demo" />
        <package android:name="com.ezetap.service.prod" />
    </queries>

    <application
        android:label="Moving Tech ETM"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        android:extractNativeLibs="true"
        tools:replace="android:label">
        <activity
            android:name="com.test.mvinfc.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.test.mvinfc.MainActivity"
            android:exported="false"/>
        <activity
            android:name="com.test.mvinfc.NfcTestActivity"
            android:exported="true"/>
        <activity
            android:name="com.test.mvinfc.WaybillActivity"
            android:exported="false"/>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="android:screenOrientation"/>
    </application>
</manifest>
